*.a
*.dSYM
*.orig
*.pyc
*.rej
*.so
*.swp
.bzr
.gdb_history
.hg
.hglf
.idea
.om.cache
.ropeproject
.svn
.vscode
/.gcc-compiler
/.gxx-compiler
/.ycm
/local.cmake
/local.ymake
om.conf.local
test-results

