*.a
*.dSYM
*.orig
*.pyc
*.rej
*.so
*.swp
*_pb2.py
.bzr
.gdb_history
.hg
.hglf
.idea
.om.cache
.ropeproject
.svn
.ycm
/.gcc-compiler
/.gxx-compiler
/local.cmake
/local.ymake
om.conf.local
test-results
.vscode
